[submodule "src/Mniak.IO"]
	path = src/Mniak.IO
	url = git@github.com:Mniak/Mniak.IO.git
	
[submodule "src/mniakcore"]
	path = src/mniakcore
	url = git@github.com:Mniak/Mniak.Core.git
[submodule "src/m.net"]
	path = src/m.net
	url = git@github.com:Mniak/Mniak.Network.git
[submodule "src/m.wpf"]
	path = src/m.wpf
	url = git@github.com:Mniak/Mniak.WPF.git
